{% extends "base.html" %}

{% block title %}Products - Flask App{% endblock %}

{% block content %}
  <div class="text-center">
    <h2>Our Products</h2>
    <p class="lead">Check out our amazing products below!</p>
  </div>

  <div class="row">
    {% for car in cars %}
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100">
          <img src="{{ car.image }}" class="card-img-top img-fluid fixed-image" alt="{{ car.name }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="card-text"><strong>Price:</strong> {{ car.price }}</p>
            <p class="card-text"><strong>Type:</strong> {{ car.type }}</p>
            <a href="{{ car.purchase_link }}" target="_blank" class="btn btn-success mt-auto">Buy Now</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
